.icon-cls {
    background-image: url(../img/icons/class.gif) !important;
}
.icon-event {
    background-image: url(../img/icons/event.gif) !important;
}
.icon-config {
    background-image: url(../img/icons/config.gif) !important;
}
.icon-prop {
    background-image: url(../img/icons/prop.gif) !important;
}
.icon-method {
    background-image: url(../img/icons/method.gif) !important;
}
.icon-cmp {
    background-image: url(../img/icons/cmp.gif) !important;
}
.icon-pkg {
    background-image: url(../img/icons/pkg.gif) !important;
}
.icon-fav {
    background-image: url(../img/icons/fav.gif) !important;
}
.icon-static {
    background-image: url(../img/icons/static.gif) !important;
}
.icon-docs {
    background-image: url(../img/icons/docs.gif) !important;
}
.icon-expand-all {
    background-image: url(../img/icons/expand-all.gif) !important;
}
.icon-collapse-all {
    background-image: url(../img/icons/collapse-all.gif) !important;
}
.icon-expand-members {
    background-image: url(../img/icons/expand-members.gif) !important;
}
.icon-hide-inherited {
    background-image: url(../img/icons/hide-inherited.gif) !important;
}
.icon-org {
    background-image: url(../img/icons/org.gif) !important;
}
.icon-save {
    background-image: url(../img/icons/save.gif) !important;
}
.icon-save-back {
    background-image: url(../img/icons/save-back.png) !important;
}
.icon-add {
    background-image: url(../img/icons/add.gif) !important;
}
.icon-delete {
    background-image: url(../img/icons/delete.gif) !important;
}
.icon-add-row {
    background-image: url(../img/icons/add-row.gif) !important;
}
.icon-delete-row {
    background-image: url(../img/icons/delete-row.gif) !important;
}
.icon-back {
    background-image: url(../img/icons/back.png) !important;
}
.icon-search {
    background-image: url(../img/icons/search.png) !important;
}
.icon-search-row {
    background-image: url(../img/icons/search-row.png) !important;
}
.icon-reload {
    background-image: url(../img/icons/reload.png) !important;
}
.icon-reset {
    background-image: url(../img/icons/reload.png) !important;
}
.icon-print {
    background-image: url(../img/icons/print.gif) !important;
}
.icon-export {
    background-image: url(../img/icons/print.gif) !important;
}
.icon-help {
    background-image: url(../img/icons/help.png) !important;
}
.icon-check {
    background-image: url(../img/icons/check.png) !important;
}
.icon-copy {
    background-image: url(../img/icons/copy.png) !important;
}
.icon-example {
    background-image: url(../img/icons/example.gif) !important;
}
.icon-retry {
    background-image: url(../img/icons/retry.png) !important;
}
.icon-send-now {
    background-image: url(../img/icons/send-now.gif) !important;
}
.icon-receive-now {
    background-image: url(../img/icons/send-receive.gif) !important;
}
.icon-edit {
    background-image: url(../img/icons/edit.png) !important;
}
.icon-checked {
    background-image: url(../img/icons/checked.gif) !important;
}
.icon-unchecked {
    background-image: url(../img/icons/unchecked.gif) !important;
}
.icon-pick-button {
    background-image: url(../img/icons/pick-button.gif) !important;
}
.icon-cancel {
    background-image: url(../img/icons/cancel.png) !important;
}
.icon-apply {
    background-image: url(../img/icons/apply.png) !important;
}
.icon-offset {
    background-image: url(../img/icons/offset.png) !important;
}
.icon-success {
    background-image: url(../img/icons/success.gif) !important;
}
.icon-forum {
    background-image: url(../img/icons/forum.gif) !important;
}
.icon-pdf {
    background-image: url(../img/icons/pdf.gif) !important;
}
.icon-excel {
    background-image: url(../img/icons/excel.gif) !important;
}
.icon-word {
    background-image: url(../img/icons/word.gif) !important;
}
.icon-preprint {
    background-image: url(../img/icons/pre_print.gif) !important;
}
.icon-btncom {
	 background-image: url(../img/icons/prop.gif) !important;
	}
