<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>FiveChessServlet</servlet-name>
    <servlet-class>com.hgame.fiveinrow.FiveChessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FiveChessServlet</servlet-name>
    <url-pattern>/fiveChess</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <jsp-config>
    <taglib>
      <taglib-uri>jstlFunction</taglib-uri>
      <taglib-location>
                /WEB-INF/fn.tld
            </taglib-location>
    </taglib>
  </jsp-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>